[Unit]
Description=mpc remote control from ir

[Service]
# Command to execute when the service is started
ExecStart=/usr/bin/python_mpd.py
Environment=PYTHONUNBUFFERED=1
Restart=on-failure
Type=notify

[Install]
WantedBy=default.target